extends ../layout.pug

append css
    link(rel="stylesheet", href="/css/admin/category.css")
append js
    script(src='/validation/jquery.validate.min.js')
    script(src='/js/admin/category.js')
block content
    include ../include/nav.pug
    .container
        .row
            nav.col-md-3.col-xl-2.d-none.d-md-block.bg-light.sidebar
                .sidebar-sticky
                    ul.nav.flex-column 
                        li.nav-item
                            a.nav-link.active(href='/admin/userinfo')
                                i.fas.fa-file-alt.mr-2
                                span 修改个人资料
                        li.nav-item.mt-4
                            a.nav-link.active(href='/admin/password')
                                i.fas.fa-key.mr-2
                                span 修改登录密码
                        li.nav-item.mt-4
                            a.nav-link.active(href='/admin/portrait')
                                i.fas.fa-user.mr-2
                                span 更换个人头像
                        li.nav-item.mt-4
                            a.nav-link.active(href='/admin/category')
                                i.fas.fa-money-check.mr-2
                                span 博客分类管理
                        li.nav-item.mt-4
                            a.nav-link.active(href='/admin/publish')
                                i.fas.fa-plus-square.mr-2
                                span 发表个人博客
                        li.nav-item.mt-4
                            a.nav-link.active(href='/admin/bloglist')
                                i.fas.fa-print.mr-2
                                span 博客列表管理
            main(role='main', class=['col-xl-10', 'col-md-9', 'col-md-auto'])
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') 个人博客
                        li.breadcrumb-item
                            a(href='#') 个人中心
                        li(class=['breadcrumb-item', 'active'], aria-current='page') 博客分类管理
                .row
                    .col-md-auto.mr-auto
                        button#btn-add(class=['btn', 'btn-primary'], type='button') 添加博客分类
                    .col-md-auto  
                        form#add-category
                            .input-group
                                input#categoryId(type='hidden', class='form-control', name='categoryId')
                                input#category(class='form-control', name='category', type='text', placeholder='填写要增加的分类名称', aria-label="填写要增加的分类名称", aria-describedby="confirm",data-container='body',data-toggle='popover',data-placement='left',data-content='博客分类不为空')
                                .input-group-append
                                    button#confirm(class=['btn', 'btn-primary'], type='submit') 确 定
                .row
                    .col-12     
                        .table-responsive
                            table(class=['table', 'table-hover', 'mt-5'])
                                thead
                                    tr
                                        th(scope="col") 序号
                                        th(scope="col") 博客分类名称
                                        th(scope="col") 博文数量
                                        th(scope="col") 操作
                                tbody  
                                    each category, index in categories
                                        tr
                                            th(scope='row')= index+1   
                                            td= category.name
                                            td= category.articleCount
                                            td
                                                a(href='javascript:void(0);', class='mr-2', onclick=`changeCategory(this, "${category._id}")`) 修改
                                                a(href='javascript:void(0);', onclick=`delCategory("${category._id}")`) 删除
    footer.container-fluid.bg-dark
        .row
            .col-md-12   
                p.text-white-50.text-center &copy; 个人博客 |  沪ICP备888888888号    