//- 继承
extends ../layout

append css
  link(rel="stylesheet", href="/css/blog/index.css")
block content
  include ../include/nav.pug  
  //- 主体内容
  .container
    .row  
      div.col-xl-3.d-none.d-xl-block
        aside.d-block
          //- .card.notice-card
          //-   .card-header
          //-     span.notice-header.d-block 公告
          //-   .card-body
          //-     a.card-link(href="#") 发表文章
          .card.dev-card
            .card-header.bg-dark.text-light 开发者名片
            .card-body
              ul.list-group.list-group-flush
                li.list-group-item
                  span 网名：
                  span 枷锁
                li.list-group-item
                  span 职业：
                  span 前端开发工程师
                li.list-group-item
                  span 邮箱：
                  span yscxxj369@163.com
                li.list-group-item.qqq
                  span 天使投资：
                  img.money(src="/img/money.jpg", alt="")
          .card.friend-link.dev-card
            .card-header.bg-dark.text-light 友情链接
            .card-body
              ul.list-group.list-group-flush
                li.list-group-item
                  a.card-link(href="https://www.runoob.com/") 菜鸟教程
      
      div(class=['col-xl-7', 'col-lg-10'])
        div(class=['card', 'content'])
          .card-body 
            ul.list-unstyle
              each article in articles
                li.media
                  img(src= article.author.portrait, class=['mr-3', 'rounded', 'rounded-circle', 'mt-2'])
                  .media-body
                    a(class=['mt-0', 'mb-1'], href=`/blog/detail/${article._id}`)= article.title
                    p.my-1= article.summary
                    .row
                      .col-md-8
                        i(class=['fas', 'fa-user'])
                        span= article.author.nickname 
                        span(class=['ml-3', 'mr-1'])
                        time= moment(article.publishTime).format('YYYY年MM月DD日')
                        span(class=['ml-3', 'mr-1']) 所属分类：
                        span= article.category.name
                      .col-md-4
                        i(class=['fas', 'fa-eye', 'mr-2'])
                        span= article.reading
                        i(class=['fas', 'fa-comment', 'ml-5', 'mr-2'])
                        span= article.commentCount
        nav(aria-label=['page', 'navigation'])
          ul.pagination.justify-content-center.mt-3
            if page == 1
              li.page-item.disabled
                a.page-link(href='#') 上一页
            else
              li.page-item
                a.page-link(href=`/blog/index/${page-1}`) 上一页
            - var i =1
            while (i <= totalPage)
              if(i==page)
                li.page-item.active
                  a.page-link(href='#')=i++
              else
                li.page-item
                  a.page-link(href=`/blog/index/${i}`)=i++
            if page == totalPage
              li.page-item.disabled
                a.page-link(href='#') 下一页
            else
              li.page-item
                a.page-link(href=`/blog/index/${page+1}`) 下一页
      
      div(class=['col-xl-2', 'col-lg-2'])  
        ul.list-group
          a.list-group-item.list-group-item-action(href='#') 热点博客
          a.list-group-item.list-group-item-action(href='#') 资源下载
          a.list-group-item.list-group-item-action(href='#') 文档翻译
          a.list-group-item.list-group-item-action(href='#') 我的博客     
  include ../include/footer.pug
          